{{define "news-source-banner"}}
<div class="flex items-center gap-3 border-b-2 border-brand pb-3">
  {{if eq .Source "youtube"}}<span class="text-signal [&>svg]:h-8 [&>svg]:w-8">{{template "icon-youtube"}}</span>
  {{else if eq .Source "klikpositif"}}<img src="/static/img/partners/klikpositif.png" alt="" class="h-8 w-auto" loading="lazy" decoding="async">
  {{else if eq .Source "katasumbar"}}<img src="/static/img/partners/katasumbar.png" alt="" class="h-8 w-auto" loading="lazy" decoding="async">
  {{else if eq .Source "hot_release"}}<img src="/static/img/default-cover.jpg" alt="" class="h-8 w-auto" loading="lazy" decoding="async">
  {{end}}
  <h3 class="font-heading text-lg font-extrabold uppercase tracking-wide text-brand sm:text-xl">{{.Label}}</h3>
</div>
{{end}}
